myenv/
__pycache__/
*.env
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*.*.*.*

